* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(gradient-bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.container {
    position: relative;
    min-width: 90vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    justify-content: center;
    align-items: center;
}

.game-info {
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0.5rem 3rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.tic-tac-toe {
    width: 90%;
    max-width: 30rem;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    aspect-ratio: 1/1;
}

.box {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    font-size: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

.top {
    border-top: none;
}
.left {
    border-left: none;
}
.right {
    border-right: none;
}
.bottom {
    border-bottom: none;
}

.btn {
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0.5rem 3rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

.result {
    z-index: 10;
    position: absolute;
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    border-radius: 1rem;
    border: 2px solid rgba(255, 255, 255, 0.25);
    text-align: center;
    transition: opacity 0.3s;
    z-index: -10;
}

.result.show {
    opacity: 1;
    z-index: 10;
}

.result-header {
    display: flex;
    justify-content: flex-end;
}

.close-btn {
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.result-text {
    font-size: 2rem;
    color: rgb(159, 212, 98);
}
